ul.images {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
li.image {
  margin: 10px;
}
li.image img {
  height: auto;
  display: block;
}

.images.image {
  width: 320px;
}

img {
  width: 100%;
}